// :host ::ng-deep .p-password input {
//   width: 23rem !important;
// }

// :host ::ng-deep .p-inputtext {
//   width: 23rem !important;
// }
.radius {
  border-radius: 16px;
}
.p-float-label label {
  text-transform: uppercase;
}
.text-primary {

  color: var(--primary-color) !important;

  line-height: 40px;

}